<div class="resources__inner" role="complementary">

  <div class="resources__filter u-clearfix">
    {{!-- <div class="resources__filter-inner"> --}}

      {{! If the resources collection contains only one type of resource (pdf, media or link) don't show anything}}
      {{#if_collection_contains_only_one_item resources '_type'}}

      {{else}}
        {{!-- Rework selected class --}}
        <button class="btn-text resources__filter-btn js-resources-show-all resources__filter-btn--all --selected resources__filter-btn--col-{{return_column_layout_from_collection_length resources '_type'}}" data-filter="all" aria-label="{{model._filterAria.allAria}}" tabindex="0">
          <div class="resources__filter-btn-text">
            {{model._filterButtons.all}}
          </div>
        </button>

        {{#if_collection_contains resources '_type' 'document'}}
        <button class="btn-text resources__filter-btn js-resources-show-document resources__filter-btn--document resources__filter-btn--col-{{return_column_layout_from_collection_length resources '_type'}}" data-filter="document" aria-label="{{model._filterAria.documentAria}}" tabindex="0">
          <div class="resources__filter-btn-text">
            {{model._filterButtons.document}}
          </div>
        </button>
        {{/if_collection_contains}}

        {{#if_collection_contains resources '_type' 'media'}}
        <button class="btn-text resources__filter-btn js-resources-show-media resources__filter-btn--media resources__filter-btn--col-{{return_column_layout_from_collection_length resources '_type'}}" data-filter="media" aria-label="{{model._filterAria.mediaAria}}" tabindex="0">
          <div class="resources__filter-btn-text">
            {{model._filterButtons.media}}
          </div>
        </button>
        {{/if_collection_contains}}

        {{#if_collection_contains resources '_type' 'link'}}
        <button class="btn-text resources__filter-btn js-resources-show-link resources__filter-btn--link resources__filter-btn--col-{{return_column_layout_from_collection_length resources '_type'}}" data-filter="link" aria-label="{{model._filterAria.linkAria}}" tabindex="0">
          <div class="resources__filter-btn-text">
            {{model._filterButtons.link}}
          </div>
        </button>
        {{/if_collection_contains}}

      {{/if_collection_contains_only_one_item}}

    {{!-- </div> --}}
  </div>

  <div class="resources__item-container">
    <div class="resources__item-container-inner">

      {{#each resources}}
      <div class="resources__item drawer__item {{_type}}">

        <button class="resources__item-open drawer__item-open"
          data-type="{{_type}}"
          data-filename="{{filename}}"
          data-href="{{_link}}"
          data-force-download="{{_forceDownload}}"
          tabindex="0"
          aria-label="{{{title}}}. {{lookup ../model._filterButtons _type}}.{{#if description}} {{{description}}}.{{/if}} {{../model.itemAriaExternal}}.">

          <div class="drawer__item-title">
            <div class="drawer__item-title-inner">
              {{{title}}}
            </div>
          </div>

          <div class="drawer__item-description">
            <div class="drawer__item-description-inner">
              {{{description}}}
            </div>
          </div>

        </button>

      </div>
      {{/each}}

    </div>
  </div>

  <div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" aria-label="{{_globals._extensions._resources.resourcesEnd}}"/>

</div>
